@using TodoApp.Website.Models.Todos;
@using TodoApp.Website.Services;

@model TodoViewModel;

@{
	ViewData["Title"] = "Tarefas pendentes";
}

<h1>Tarefas pendentes</h1>

@await Html.PartialAsync("_CreateTodoPartial", new TodoValidationModel("", 
																	DateTime.Now
																	.Date
																	.AddHours(DateTime.Now.Hour)
																	.AddMinutes(DateTime.Now.Minute)))

<table class="table todo-table">
	<thead>
		<tr>
			<th> </th>
			<th> Descrição </th>
			<th> Prazo de entrega </th>
			<th> </th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var todoModel in Model.Todos)
		{
			<tr>
				<th>
					<form asp-controller="Todos" asp-action="UpdateAsync" method="POST">
						<button type="submit" class="todo-update-button"> &#10004 </button>
						<input type="hidden" name="oldState" value="@todoModel.TodoState">
						<input type="hidden" name="id" value="@todoModel.Id">
						<input type="hidden" name="newState" value="@TodoState.Done">
						<input type="hidden" name="description" value="@todoModel.Description">
						<input type="hidden" name="modificationDate" value="@DateTime.Now">
					</form>
				</th>
				<th> @todoModel.Description </th>
				<th> @todoModel.CurrentStateDate </th>
				<th>
					<form asp-controller="Todos" asp-action="UpdateAsync" method="POST">
						<button type="submit" class="todo-update-button"> &#10060 </button>
						<input type="hidden" name="oldState" value="@todoModel.TodoState">
						<input type="hidden" name="id" value="@todoModel.Id">
						<input type="hidden" name="newState" value="@TodoState.Cancelled">
						<input type="hidden" name="description" value="@todoModel.Description">
						<input type="hidden" name="modificationDate" value="@DateTime.Now">
					</form>
				</th>
				<th>
					@await Html.PartialAsync("_RemoveByIdButtonPartial", todoModel)
				</th>
			</tr>
		}
	</tbody>
</table>
